{% load static %}


<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <style>
            
        </style>
        <title>Sign Up</title>
    </head>
    <body style="background-color: #F3F3F3; font-family: 'Unna', serif; color:#A46643; margin-top: -50px;">
        <div class="row m-5 justify-content-center">
            <div class="col text-center">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <h5 style="color: #A46643;" {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </h5>
                    {% endfor %}
                </ul>
                {% endif %}     
            </div>
        </div>
        
        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8">
                <form method="POST">

                    {% csrf_token %}
                
                    {{ form.as_p }}
                
                    <button type="submit" class="btn btn-outline-info">Sign Up</button>
                
                </form>
            </div>        
        </div>
        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8">
                <h5 style="color: #A46643">Already have an account? <a href="{% url 'Story_9:login'%}">Log in</a></h5>
            </div>   
        </div>
        


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
