{% extends "baseS7.html" %}
{% load static %}
{% block meta %}
<title>Story 7</title>
<style>
  .content:not(.active){
    height: 0px;
    overflow: hidden;
}
</style>
{% endblock meta %}

{% block content %}
<div class="accordion">
  <div class="accordion_item">
    <div class="accordion_head">
      <h3>Aktivitas saat ini</h3>
      <a type="button" class="arrowup">☝️</a>
      <a type="button" class="arrowdown">👇</a>
    </div>
    <div class="content">
      <p style="font-family: 'Unna', serif;">
      Aktivitas saya saat ini tidak terlalu banyak, kebanyakan hanya akademis dan
      saat ini tengah menjadi panitia di kepanitiaan Pemira IKM Fasilkom UI 2020
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <div class="accordion_item">
    <div class="accordion_head">
      <h3>Pengalaman organisasi/kepanitiaan</h3>
      <a type="button" class="arrowup">☝️</a>
      <a type="button" class="arrowdown">👇</a>
    </div>
    <div class="content">
      <ul style="font-family: 'Unna', serif;">
        <li>staff divisi Kampanye Pemira IKM Fasilkom UI 2019</li>
        <li>staff divisi LO Wisuda Ganjil Fasilkom UI 2020</li>
        <li>staff divisi UX Academy Compfest 12</li>
        <li>wakil penanggung jawab divisi relasi Wisuda Genap Fasilkom UI 2020</li>
        <li>penanggung jawab divisi Kampanye Pemira IKM Fasilkom UI 2020</li>
      </ul>
    </div>
  </div>
</div>
<div class="accordion">
  <div class="accordion_item">
    <div class="accordion_head">
      <h3>Prestasi</h3>
      <a type="button" class="arrowup">☝️</a>
      <a type="button" class="arrowdown">👇</a>
    </div>
    <div class="content">
      <p style="font-family: 'Unna', serif;">
      Ga ada:(
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <div class="accordion_item">
    <div class="accordion_head">
      <h3>Interest</h3>
      <a type="button" class="arrowup">☝️</a>
      <a type="button" class="arrowdown">👇</a>
    </div>
    <div class="content">
      <ul style="font-family: 'Unna', serif;">
        <li>User Experience</li>
        <li>Fashion</li>
        <li>Art</li>
      </ul>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js.js' %}"></script>
{% endblock %}