head {
    background-color:  rgb(255, 255, 255);
}
body {
    background-color:#F5935B;
    margin: 0;
  }

.content:not(.active){
    height: 0px;
    overflow: hidden;
}

.section-one {
    display:grid;
    grid-template-columns:350px 1fr 1fr;
}

.image-div {
    margin-top: 70px;
    margin-left:50px;
    width:300px;
    height:300px;
}

.image-div img{
    width:100%;
    height:100%;
}

.image-div2 {
    margin-top: 70px;
    margin-left:50px;
    width:300px;
    height:400px;
}

.image-div2 img{
    width:100%;
    height:100%;
}

.text-placeholder-left{
    grid-column: 2;
    padding-top: 50px;
}

.text-placeholder-left h1, h3, h5 {
    font-family: 'Unna', serif;
    text-align: center;
}

.text-placeholder-left h1 {
    margin-top: 75px;
}

.text-placeholder-right{
    grid-column: 3;
    background: #DA8251;
    padding-top: 50px;
}

.text-placeholder-right h4 {
    font-family: 'Unna', serif;
    text-align: center;
}

@media (max-width:768px) {
    .section-one {
        grid-template-rows:2;
    }
    .text-placeholder-left {
        grid-column: 2/4;
        grid-row: 1;
        padding: 70px;
    }
    .text-placeholder-left h1 {
        margin-top: 0;
    }
    .text-placeholder-right {
        padding: 0;
        grid-column: 1/4;
        grid-row: 2;
    }
    .image-div {
        margin-bottom: 70px;
    }
    .text-header {
        margin-left: 0 !important;
    }
}

.section-two {
    display:grid;
    grid-template-columns:350px 1fr 1fr;
}

.text-placeholder-left2{
    grid-column: 2;
    padding-top: 65px;
}

.text-placeholder-left2 h5, h6 {
    margin-left: 50px;
    margin-top: 15px;
    font-family: 'Unna', serif;
    text-align: left;
}

.text-placeholder-right2 {
    grid-column: 3;
    background: #DA8251;
    padding-top: 100px;
}

.text-placeholder-right2 h4 {
    font-family: 'Unna', serif;
    margin-top: 10px;
}

@media (max-width:768px) {
    .section-two {
        grid-template-rows:2;
    }
    .text-placeholder-left2 {
        grid-column: 2/4;
        grid-row: 1;
        padding: 70px;
    }
    .text-placeholder-left2 h1 {
        margin-top: 0;
    }
    .text-placeholder-right2 {
        padding: 0;
        grid-column: 1/4;
        grid-row: 2;
    }
    .image-div2 {
        margin-bottom: 70px;
    }
    .text-header2 {
        margin-left: 0 !important;
    }
}

.section-three {
    display:grid;
    grid-template-columns:350px 1fr 1fr;
}

.text-placeholder-left3{
    grid-column: 1/3;
    padding-top: 150px;
}

.text-placeholder-left3 h5, h1 {
    margin-left: 50px;
    margin-right: 75px;
    font-family: 'Unna', serif;
    text-align: left;
}

.text-placeholder-right3 {
    grid-column: 3;
    background: #DA8251;
    padding-top: 150px;
}

.text-placeholder-right3 h4 {
    font-family: 'Unna', serif;
    text-align: left;
}

.image-div2 {
    margin-top: 70px;
    margin-left:50px;
    width:300px;
    height:400px;
}

.image-div2 img{
    width:100%;
    height:100%;
}

.text-header {
    display: inline-block;
    background: #A46643;
    padding: 1rem 2rem;
    margin-left: -125px
}

.text-header2 {
    display: inline-block;
    background: #A46643;
    padding: 1rem 2rem;
    margin-left: -100px
}

.text-header3 {
    display: inline-block;
    background: #A46643;
    padding: 1rem 2rem;
    margin-left: -60px
}

.header {
    padding: 2px;
    font-family: 'Unna', serif;
    text-align: center;
    background: #ffffff;
    color: #985F35;
  }

  p {
      color: black;
      font-family: 'Sacramento', cursive;
      text-align: center;
      font-size: large;
  }

.bio{
    position: relative;
    margin-top: 95px;
    margin-left: 85px;
}