{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        App Evita
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: rgb(245, 245, 245);">
        <a class="navbar-brand" href="#" style="font-family: 'Unna', serif; color:#A46643">EH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#bio">My Biodata</a>
            <a class="nav-item nav-link" href="#abtme">About Me</a>
            <a class="nav-item nav-link" href="findme">Find Me</a>
            <a class="nav-item nav-link" href="story1">Story 1</a>
            <a class="nav-item nav-link" href="/Story_9">Log in</a>
            <a class="nav-item nav-link" href="/Story_9/signup">Sign up</a>
          </div>
        </div>
      </nav>
      

<div class="header">
    <p>appnyaevita.herokuapp.com</p>
    <h1 style="text-align: center;">EVITA HALIANSYAH</h1>
    <p>profile</p>
</div>

<section class="section-one">
    <div class="image-div">
        <img src = "../static/evitabaru.jpg">
    </div>

    <div class="text-placeholder-left">
        <h1>Hello!</h1>
        <h5>Welcome to my profile website</h5>
        <h3>You can call me Evita, i’m a 19 year-old IT Student from Indonesia!</h3>
    </div>

    <div class="text-placeholder-right">
        <div class="text-header">
            <h4>My Favorite Quotes</h4>
        </div>
        <div class="bottom-text">
             <h4>“The difference between the novice and the master is that 
                 the master has failed more times than the novice has tried.” – Koro Sensei</h4>
        </div>
    </div>
</section>

<section class="section-two">
    <div class="image-div2">
        <img src = "../static/evitabaru2.jpg">
    </div>

    <div class="text-placeholder-left2" id="bio">
        <h5>Name: Evita Haliansyah</h5>
        <h5>Student number: 1906353504</h5>
        <h5>Class of: 2019 (Maung)</h5>
        <h5>Hobbies:</h5>
            <div style="margin-left: 25px;">
                <h6>> Drawing</h6>
                <h6>> Watching movies</h6>
                <h6>> Reading</h6>
            </div>
        <h5>Educational history:</h5>
            <div style="margin-left: 25px;">
                <h6>> SMPK 5 BPK Penabur</h6>
                <h6>> SMA Negeri 81 Jakarta</h6>
                <h6>> Universitas Indonesia</h6>
            </div>
    </div>

    <div class="text-placeholder-right2">
        <div class="text-header2">
            <h4 style="font-family: 'Unna', serif;">Experiences</h4>
        </div>
        <div class="bottom-text2">
             <h5>1. Staff of Campaign Division Pemira 2019 <br />
                <br />
                2. Staff of Liaison Officer Wisuda Ganjil 2020 <br />
                <br />
                3. Vice Person in Charge of Relation Divison Wisuda Genap 2020 <br />
                <br />
                4. Person in Charge of Campaign Division Pemira 2020</h5>
        </div>
    </div>
</section>

<section class="section-three" id="abtme">

    <div class="text-placeholder-left3">
        <h1 style="font-family: 'Unna', serif;">About Me</h1>
        <h5>A second year student at University of Indonesia, currently taking Information System major. My 16 personality test result shows that i am an ENTP. 
            Really like to draw especially things that are related to fashion and prefer watercolor more than any other coloring tools. More into business than IT because somehow i am really bad at coding. 
            Anyway, thank you for visiting my website. If you want to know more about me you can go to Find Me Page!</h5>
    </div>

    <div class="text-placeholder-right3">
        <div class="text-header3">
            <h4 style="font-family: 'Unna', serif;">Skills</h4>
        </div>
        <div class="bottom-text3">
             <h5>1. I understand a few programming languages like Python, Java, and HTML <br />
                <br />
                2. Able to use Microsoft Office, Photoshop, and Figma <br />
                <br />
                3. I can communicate well <br />
                <br />
                4. Able to speak conversational english</h5>
        </div>
    </div>
</section>

</body>
</html>