{% extends "base.html" %}

{% block title %}Find Me{% endblock %}

{% block content %}
<h1 style="font-family: 'Unna', serif">Find Me</h1>
<br />
<h3 style="font-family: 'Unna', serif">Hello again! <br />
It looks like you want to know me more,
you can find me via:</h3>
<a href="https://www.instagram.com/evitahaliansyah/">Instagram</a> <br />
<a href="https://www.linkedin.com/in/evita-haliansyah-3783011a5/">LinkedIn</a>
{% endblock %}