{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 6</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container" style="margin-top: 30vh;">
        <h2 style="color: rgb(0, 0, 0);">Tambah Kegiatan</h2>
    </div>

    <div class="container justify-content-center" style="margin-top: 20vh; margin-bottom: 10vh;">
        <form method="POST"> {% csrf_token %}
            {{ form|crispy }}
            <input style="margin-top: 2rem;" class="btn btn-primary" type="submit" value="Save" />
            <a type="button" class="btn btn-primary" href="hasil/" style="margin-top: 2rem; margin-left: 2rem;">Daftar Kegiatan dan Peserta</a>
        </form>
    </div>

    <div class="container" style="margin-bottom: 10rem;">
    </div>

</body>
</html>