<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 6</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container" style="margin-top: 10vh; margin-bottom: 20vh;">
        <h2 style="color: black;">Daftar Kegiatan dan Peserta</h2>
        <a type="button" class="btn btn-primary" href="../" style="margin-top: 2rem;">Tambah Kegiatan</a>
    </div>

    {% for x in kegiatan %}
  <div class="container">
	  <table class="table table-bordered">
		  <tr>
			  <td class='table-secondary'> <b> {{ x.namaKegiatan }} </b> </td>
		  </tr>
		  <tr>
		    {% for y in peserta %}
			    {% if y.Ikut_Kegiatan == x %}
			    <tr>
			    	<td> - {{ y.Nama_Peserta }} <a type="button" class="btn btn-danger" href="../{{y.id}}">Hapus</a> </td>
				</tr>
			    {% endif %}
		    {% endfor %}
		  </tr>
    </table>
  </div>

    <div class="container text-center" style="margin-bottom: 3rem;"> 
      <a href="register/{{ x.id }}" class="text-white btn btn-primary mx-auto my-2 click">
        Register {{ x.namaKegiatan }}
      </a>
    </div>
    {% endfor %}
  
    <div class="container" style="margin-bottom: 10rem;">
    </div>
</body>
</html>
