{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>App Evita</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unna&display=swap" rel="stylesheet">
    {% block meta %} {% endblock meta %}
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: rgb(245, 245, 245);">
        <a class="navbar-brand" href="/" style="font-family: 'Unna', serif; color:#A46643">EH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/#bio">My Biodata</a>
            <a class="nav-item nav-link" href="/#abtme">About Me</a>
            <a class="nav-item nav-link" href="/findme">Find Me</a>
            <a class="nav-item nav-link" href="/story1">Story 1</a>
          </div>
        </div>
      </nav>

      {% block content %} {% endblock %}
</body>
</html>