{% extends "base.html" %}

{% block title %}Form Jadwal{% endblock %}

{% block content %}
<form action="{% url 'daftar' %}" method="POST">
    {% csrf_token %}
    <div style="margin-left: 40px; margin-top: 20px;">
        <div>
            <p>Nama mata kuliah:</p>
            {{form.nama}}
        </div>
        <div>
            <p>Nama dosen pengajar:</p>
            {{form.dosen}}
        </div>
        <div>
            <p>Jumlah SKS:</p>
            {{form.sks}}
        </div>
        <div>
            <p>Deskripsi mata kuliah:</p>
            {{form.deskripsi}}
        </div>
        <div>
            <p>Semester:</p>
            {{form.semester}}
        </div>
        <div>
            <p>Ruang kelas:</p>
            {{form.ruang}}
        </div>
        <br />
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}