{% extends "base.html" %}

{% block title %}Jadwal Mata Kuliah{% endblock %}

{% block content %}
    <table style="width:100%">
    <thead>
        <tr>
            <th>Nama Matkul</th>
            <th>Nama Dosen</th>
            <th>Jumlah SKS</th>
            <th>Deskripsi</th>
            <th>Semester</th>
            <th>Ruang Kelas</th>
        </tr>
    </thead>
    <tbody>
        {% for matkul in matkuls %}
        <tr>
            <td>{{matkul.nama}}</td>
            <td>{{matkul.dosen}}</td>
            <td>{{matkul.sks}}</td>
            <td>{{matkul.sks}}</td>
            <td>{{matkul.deskripsi}}</td>
            <td>{{matkul.semester}}</td>
            <td>{{matkul.ruang}}</td>
            <td>
                <a href="{% url 'delete' matkul.id %}" class="btn btn-danger">hapus</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}